.fl-left {
 float:left;
}
.fl-right {
 float:right;
}
.cl-both {
 clear:both;
}
body {
 background: #ededed;
 margin:0;
 padding:0;
}
.main-wrapper {
background:url('../images/header-bg.jpg') no-repeat top center;  
}
.header-wrapper,
.promo-wrapper,
.content-wrapper {
 width:960px;
 margin:auto;
}

.content-wrapper {
 background:#fff;
 clear:both;
 position:relative;
}
.content-wrapper:before,
.content-wrapper:after {
 content: '';
 display: block;
 top:66px;
 width:19px;
 height:141px;
}
.content-wrapper:before {
 position:absolute;
 left:-19px;
 background:url('../images/shadow-left.png') no-repeat top left;
}
.content-wrapper:after {
 position:absolute;
 right:-19px;
 background:url('../images/shadow-right.png') no-repeat top left;
}
.dashed-separator {
 height:1px;
 border-top:1px #c8c8c8 dashed;
}
.solid-grey-block {
 background:#ededed;
 color: #262626;
}
.solid-blue-block {
 background:#4ba8ff;
 padding:40px 0 27px;
}
.grey-block-separator {
 background:#f9f9f9;
 border-top: 1px #eee dashed;
 border-bottom: 1px #eee dashed;
 clear: both;
 overflow: hidden;
}

/* styles */

.user-register,
.user-login {
 background:#fdd309;
 text-align:center;
 text-transform:uppercase;
 height:40px;
 line-height:40px;
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 margin-left:6px;
 text-decoration:none;
 color:#fff;
 font-weight:bold;
 font-size:16px;
}
.user-login {
 color:#1d8eea;
 background:#fff;
}
.user-login:hover,
.user-register:hover {
 background: #2aa9e0;
 color: #fff;
}
.logo  {
 width:384px;
 height:93px;
 overflow:hidden;
 text-indent:1000px;
 line-height:300px;
 background:url('../images/logo.png') no-repeat top left;
 margin-left:-16px;
}
.site-menu, .site-menu li {
 margin:0;
 padding:0;
 list-style: none;
}
.site-menu li {
 float:left;
}
.site-menu a {
 float:left;
 text-decoration:none;
 text-transform:uppercase;
 color:#fff;
 font-size:14px;
 margin-left:42px;
}
.site-menu a:hover,
.site-menu a.active {
 color: #fdd309;
}

.site-menu li:first-child a{
 margin-left:0;
}

.promo-title {
 text-align:center; 
 margin:auto;
 padding:65px 0 57px;
}
.promo-title h1 {
 font-size:52px;
 font-weight:bold;
 text-transform:uppercase;
 color:#fff;
 -webkit-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 margin:0;
}
.promo-title h1 span {
 display:block;
 color:#fffe0c;
 font-weight:normal;
}

/* front */
.free-trial {
 margin-top:41px;
}

.button {
 display:inline-block; 
 text-decoration:none;
}
.button.yellow {
 background:url('../images/button-yellow-bg.jpg') no-repeat top left;
  -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 color:#574850;
 font-size:44px;
 line-height:1em;
 padding-top:31px;
 padding-bottom: 24px;
 text-align:center;
}
.button.yellow:hover {
 background:url('../images/button-yellow-bg-flipped.png') no-repeat top left;
 color: #203444;
}
.button.yellow span {
 text-transform: uppercase;
 display:block;
 font-size:16px;
 margin-top:5px;
 line-height: 1em;
}
.free-trial-description {
 color:#fff;
 line-height:25px;
 font-size:16px;
}
.social-icons-large {
 height:344px;
 margin-bottom:-70px;
 position: relative;
 z-index: 100;
}

.front .content-wrapper {
 padding-top: 70px;
}
.daily-scheduled,
.increase-rankings {
 text-align:center;
}

/**/
h1,h2,h3,h4,h5,h6 {
 margin:0;
 padding:0;
}
p {
 margin:0;
}
.daily-scheduled {
 font-size:30px;
 line-height:1em;
 text-transform: uppercase;
 color: #6f6f6f;
}
.increase-rankings {
 margin-top:8px;
 font-size:28px;
 color: #6f6f6f;
}
.google-name {color: #048bff;}
.google-name .red {color: #ff0000;}
.google-name .yellow {color: #fcd228;}
.google-name .green {color: #08b210;}

.ranking-factors {
 overflow:hidden;
 width:992px;
 margin-top:70px;
 margin-bottom:85px;
 text-align:center;
}
.ranking-factors .col {
 width: 320px;
}
.ranking-factors .col1,
.ranking-factors .col2 {
 border-right:1px #d1d1d1 solid;
}
.ranking-factors-title {
font-size:26px;
color:#464646;
font-weight:normal;
margin-bottom:4px;
}
.ranking-factors-decription {
font-size:14px;
color:#464646;
}
/**/
.ranking-solution {
 padding:55px 0 40px;
}
.ranking-solution-title {
 text-align:center;
 font-size:27px;
 color:#464646;
 line-height:1.1em;
 font-weight:normal;
 margin-bottom:50px;
 text-transform: uppercase;
 width: 560px;
}
.ranking-solution-title .ranking-solution-title-bold {
 font-weight:bold;
 color:#e94106;
}
.ranking-solution-description {
 text-align:center;
 font-size:15px;
 line-height:24px;
 color:#464646;
}

/**/

.how-it-works {
 padding:50px 0 70px;
 text-align:center;
}
.how-it-works-title {
 font-weight:bold;
 font-size:37px;
 color:#1788e9;
 margin-bottom:80px;
 text-transform: uppercase;
}
.how-it-works-columns {
 height:135px;
}
.how-it-works-separator {
 float:left;
 width:18px;
 margin:0 15px;
 height:150px;
 background:url('../images/howitworks-arrow.png') no-repeat center center;
}
.how-it-works-column {
 position:relative;
 padding-bottom:25px;
}
.how-it-works-column:first-child {
 margin-left:76px;
}
.how-it-works-image {
 display:block;
 margin:auto;
 text-align:center;
  position:relative;
 z-index:30
}
.last .how-it-works-image {
 margin-top:-37px;
}
.how-it-works-description {
 font-size:14px;
 color:#464646;
 line-height:24px;
 margin-top:15px;
 position:relative;
 z-index:30;
}
.how-it-works-number {
 z-index:20;
 font-size:153px;
 position:absolute;
 color:#f7f7f7;
 bottom:67px;
 left:50%;
 margin-left:-44px;
 width:85px;
 height:105px;
 font-weight:bold;
}

/**/
.social-network-post-icons {
 overflow:hidden;
 padding: 70px 0 56px;
}
 .social-network-post-name {
 font-size:12px;
 color:#7e7e7e;
 text-transform:uppercase;
 display:block;
 position:absolute;
 width:100%;
 bottom:0;
 left:0;
}
.social-network-post-icon {
 position:relative;
 height:80px;
 text-align:center;
 margin-left:63px;
}
.social-network-post-icon:hover img,
.more-social-icons.fl-left:hover img,
.we-work-with-col:hover img {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.social-network-post-icon.first {
 margin-left:30px;
}
.social-network-post-title {
 font-size:37px;
 color:#6f6f6f;
 text-align:center;
 font-weight:normal;
 margin-top:63px;
 text-transform:uppercase;
}
.social-network-post-title span {
 display:block;
 color:#ec5808;
}

/**/
.more-social-icons {
 overflow:hidden;
 text-align:center;
}
.more-social-icons img {
 margin:auto;
 margin-right:0; 
}
.more-social-icons.col.first {
 margin-left:40px;
}
.more-social-icons.col {
 margin-left:16px;
 width:auto;
 height:73px;
}
.more-social-icons.cl-both {
 padding:30px 0 26px;
}

/**/
.trial-version-benifits-title {
 font-size:31px;
 font-weight:normal;
 text-align:center;
 padding:52px 0 60px;
}
.trial-version-benifits-title .red {
 font-weight:bold;
 color: #ec5808;
}
.trial-version-benifits-list {
 clear:both;
 overflow:hidden;
}
.trial-version-benifits-item {
 height:140px;
 background:#fff;
 margin-left:30px;
 margin-bottom:35px;
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
.trial-version-benifits-item.new-row,
 .trial-version-benifits-item.first {
 margin-left:0;
}
.trial-version-benifits-header {
 width:260px;
 margin:auto;
 overflow:hidden;
 margin-top:22px;
 height:32px;
 line-height:32px;
 margin-bottom:16px;
 color:#ec5808;
 text-transform:uppercase;
 font-size: 20px;
}
.trial-version-benifits-description {
 line-height:24px;
 font-size:15px;
 color:#464646;
}

/**/
.start-free-trial-label {
 color:#fff;
 font-size:21px;
 margin-right:25px;
}
.start-free-trial-name,
.start-free-trial-email {
 border:none;
 line-height:1em;
 height:37px;
 padding: 0 18px;
 margin:0 13px 0 0;
 width: 132px
}
.start-free-trial-submit {
 border:2px #fff solid;
 background: transparent;
 height:35px;
 color: #fff;
 font-size:16px;
 font-weight:500;
 cursor: pointer;
}
.start-free-trial-submit:hover {
 background: #fff;
 color: #4ba8ff;
}
.start-free-trial-description {
 font-size:16px;
 color:#fff;
 margin-top:33px;
 clear:both;
}

.happy-clients-title {
 margin:50px auto 50px;
 font-weight:normal;
 text-align:center;
 width:450px;
 font-size:27px;
 color:#464646;
 text-transform:uppercase;
}
.happy-clients-title .red {
 color: #e94106;
 font-weight:bold;
}
.happy-clients-comments {
 overflow:hidden;
}
.happy-clients-comment {
 margin-right:70px;
 float:left;
}
.happy-clients-comment:first-child {
 margin-left:105px;
}
.happy-clients-cloud {
 background:#f9f9f9;
 color:#464646;
 padding:35px 0;
 margin-bottom:54px;
 height:204px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 border-radius: 5px;
 margin-top:2px;
 -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
 -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
 -ms-box-shadow: 0 0 5px rgba(0,0,0,0.15);
 box-shadow: 0 0 5px rgba(0,0,0,0.15);
 position:relative;
}
.happy-clients-cloud:after {
 position:absolute;
 content:'';
 display: block;
 bottom:-27px;
 left:50%;
 margin-left:-28px;
 width:56px;
 height:27px;
 background: url('../images/grey-arrow-down.png') no-repeat top center;
}
.happy-clients-cloud h4{
 font-size:16px;
 line-height:24px;
 font-weight:600;
 margin-bottom:30px;
}
.happy-clients-cloud-text {
 font-size:13px;
 line-height:20px;
 margin-bottom:35px;
 } 
.happy-clients-cloud-name {
 display:block;
 margin-left:35px;
 font-size:16px;
 text-transform:uppercase;
 color:#e94106;
}
.happy-clients-image {
 border: 10px #efefef solid;
 height:155px;
 text-align:center;
 margin-bottom:40px;
}
.happy-clients-image img,
.happy-clients-image {
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 border-radius: 100%; 
}

/**/
.we-work-with-title {
 font-size:20px;
 text-transform:uppercase;
 color:#fff;
 width:240px;
 margin-bottom:30px;
 text-align: center;
}
.we-work-with-cols {
 overflow:hidden;
}
.we-work-with-col {
 margin-left:22px;
}
.pricing .we-work-with-col {
 margin-left:34px;
}
.we-work-with-col.first {
 margin-left:25px;
}

/**/
.drip-signals {
 overflow:hidden;
 padding-top:64px;
}

.drip-signals-colored {
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 color:#fff;
 text-transform:uppercase;
 font-size:18px;
 line-height:75px;
 height:75px;
 overflow: hidden;
}
.drip-manual-signals {
 margin-left:50px;
 margin-right:9px;
}
.drip-manual-signals .drip-signals-colored {
 background:#ec5808;
}
.drip-automatic-signals .drip-signals-colored {
 background:#b2daff;
}
.drip-signals-colored img {
 float:left;
 margin-left:20px;
 margin-right:20px;
 width:35px;
 height:35px;
 position:relative;
 top:20px;
}
.drip-signals-list,
.drip-signals-list li {
 margin:0;
 padding:0;
 list-style: none;
 list-style-type: none;
}
.drip-signals-list {
background:#fafafa;
padding-bottom:25px;
margin-bottom:50px;
overflow:hidden;
margin-top:5px;
}

.drip-signals-list li {
 margin-top:29px;
 height:26px;
 line-height:26px;
 padding-left:80px;
 font-size:20px;
}
.drip-signals-item .green {
 color: #5ec128;
}
.drip-signals-item .orange {
 color: #f3a981;
}

.drip-manual-signals .drip-signals-item {
 background: url('../images/orange-circle.png') no-repeat 31px 0;
}
.drip-manual-signals .drip-signals-item.grey {
 background-image: url('../images/grey-circle.png');
}
.drip-automatic-signals .drip-signals-item {
 background: url('../images/orange-circle.png') no-repeat 31px 0;
}
.drip-automatic-signals .drip-signals-item.grey {
 background-image: url('../images/grey-circle.png'); 
}
.drip-manual-signals .drip-signals-item:hover,
.drip-automatic-signals .drip-signals-item:hover {
 background-position: 33px 0;
}
.drip-manual-signals .drip-signals-item.grey:hover,
.drip-automatic-signals .drip-signals-item.grey:hover {
 background-position: 31px 0;
}

/* footer */
.footer {
 margin-top: 50px;
}
.footer-top {
 background:#1e87e8;
 height:55px;
}
.footer-bottom {
 background:#166ee1;
 height:109px;
}
.footer-top .inner,
.footer-bottom .inner {
 margin:auto;
 width:960px;
}
.footer-top .inner {
 padding-top:20px;
}

.footer-top .menu,
.footer-top .menu-item {
 margin:0;
 padding:0;
 list-style: none;
}

.footer-top .menu-link {
 color:#fff;
 text-decoration:none;
 float:left;
 text-transform:uppercase;
 font-size:14px;
margin-left:94px;
}
.footer-top .menu-link:hover {
 color: #dfdfdf;
}

.footer-top .first .menu-link {
 margin-left:10px;
}

.footer-bottom .inner{
 color:#fff;
 padding-top:18px;
}
.footer-logo {
 margin-bottom:15px;
}
p.copyright {
 font-size:12px;
 line-height:1em;
}

.footer-social a {
 float:right;
 width:40px;
 height:40px;
 background:#fff;
 margin-left: 9px;
}
.footer-social p {
 clear:both;
 float:right;
 margin-top:13px;
 font-size:12px;
}

/* pricing */
.pricing-trial {
 clear:both;
 width:960px;
 margin:auto;
 padding-top:90px;
 height: 296px;
 background: url('../images/yellow-arrows.png') no-repeat 77.7% 26px;
}
.free-trial-block-header {
 color:#fff;
 font-size:47px;
 text-transform:uppercase;
  -webkit-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 margin-bottom:27px;
 margin-top: -10px;
}
.free-trial-block-header .yellow {
 display:block;
 color:#fdd309;
}
p.no-risks,
p.full-access {
 color:#fff;
 font-size:19px;
 line-height:30px;
 text-transform:uppercase;
 margin-bottom:15px;
 padding-left:47px;
 margin-left: 25px;
 background-position: 0 0;
 background-repeat: no-repeat;
}
p.no-risks {
 background-image: url('../images/norisk-icon.png');
}
p.full-access {
 background-image: url('../images/fullaccess-icon.png');
 background-position: 0 -3px;
}

/**/
.free-register-form {
 background:#203444 url('../images/arrow-pointer.png') no-repeat 238px 0;
 float:right;
 width:360px;
 padding:28px 40px;
 margin-bottom:-31px;
 position:relative;
 right: 25px;
 z-index:50;
}
.free-register-form .form-label {
 font-size:14px;
 color:#fff;
 text-transform:uppercase;
 display:block;
 margin-bottom:9px;
}
.free-register-form .form-text {
 padding:0 13px;
 line-height:1em;
 height:40px;
 border:none;
 margin:0;
 width:333px;
 margin-bottom:20px;
}
.free-register-form .button {
 height:86px;
 border:none;
 width:100%;
 margin-top:9px;
 overflow: hidden;
 text-indent: 1000px;
 background: url('../images/free-trial-button.png') no-repeat top left;
 cursor: pointer;
}
.pricing-trial .free-register-form .button:hover {
 background-image: url('../images/free-trial-button-flipped.png');
}
.free-trial-block {
 position: relative;
}

.social-arrow-left {
 background: url('../images/social-pricing.png') no-repeat top left;
 width: 310px;
 height: 240px;
 position: absolute;
 top: 235px;
 left: -75px;
 z-index: 100;
}

/* price table */
body.pricing .content-wrapper {
 padding-top:76px;
}
.pricing-header {
 text-align:center;
 text-transform:uppercase;
 font-size:30px;
 color:#6f6f6f;
 margin-bottom:2px;
}
.pricing-header span {
 color: #ff7e00;
}
.pricing-subheader {
 font-size:27px;
 text-align:center;
 color:#6f6f6f;
 font-weight:normal;
 margin-bottom:45px ;
}

.comment-row h3 {
color: #574850;
font-size:22px;
margin-bottom:4px;
}
.comment-row ul {
 width:161px;
 background:#839eb2;
 -webkit-border-radius: 5px 0 0 5px;
 -moz-border-radius: 5px 0 0 5px;
 -ms-border-radius: 5px 0 0 5px;
 border-radius: 5px 0 0 5px;
 color:#fff;
 margin:0;
 padding:0;
 overflow:hidden;
}

.comment-row ul li {
 list-style: none;
 list-style-type: none;
 font-size: 11px;
 line-height:1em;
 text-align:right;
 padding-right:38px;
 padding-left:8px;
 padding:10px 38px 8px 10px;
 margin:0;
 min-height:17px;
 background: url('../images/info-icon.png') no-repeat 92% center;
 }

 .comment-row ul li{
position:relative;
}
.comment-row ul {
 overflow:visible;
 }
 .comment-row ul li:hover span {
  display:block;
 }
.comment-row ul li span {
 display:none;
 position:absolute;
 background:#f3c30a;
 font-size:11px;
 line-height:1.2em;
 color:#203444;
 padding:12px;
 width:128px;
 text-align:left;
 left:100%;
 top:5px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 border-radius: 6px;
}
.comment-row ul li span:after {
 content: '';
 position:absolute;
 left:-12px;
 width:0;
 height:0;
 display:block;
 border-color:transparent #f3c30a transparent transparent;
 border-width: 6px;
 border-style:solid;
 top:10px;
}
 
/**/
.price-table {
 padding-bottom:90px;
}
.price-table .col1,
 .price-table .col2,
 .price-table .col3,
 .price-table .col4,
 .price-table .col5 {
 float:left;
 text-align:center;
}
.price-table .col1 {
 text-align:left;
}
/**/
.price-header {
width:210px;
text-align:center;
height:21px;
overflow:hidden;
padding-top:26px;
padding-bottom:23px;
background-image: linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -o-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -moz-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -webkit-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -ms-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(1, rgb(239,239,239)),
 color-stop(0, rgb(212,214,215))
);
}
.price-header h3 {
 text-transform:uppercase;
 color:#574850;
 font-size:30px;
 text-shadow: 0 2px 0 rgba(255,255,255,0.5)
}
.price-signals,
.price-rows,
.plan-price-footer {
 background:#203444;
 color: #fff;
}

.price-signals {
 padding-top:25px;
 padding-bottom:18px;
}
.price-signals  h3 {
 font-size:50px;
 line-height:1em;
 margin-bottom:3px;
}
.price-signals h4 {
 font-size:17px;
 line-height:1em;
 color: #ffb900;
 text-transform:uppercase;
 margin-bottom:13px;
}
.price-sign-up,
.phone-number a {
display:block;
margin:auto;
width:94px;
height:35px;
line-height:35px;
text-align:center;
color:#574850;
font-size:23px;
text-decoration:none;
text-transform:uppercase;
}
.price-sign-up:hover,
.phone-number a:hover {

}
.price-rows .row-filled {
 line-height:39px;
 height:39px;
 border-bottom:1px #32424f solid;
}
.price-rows .row-filled:first-child {
 border-top: 1px #32424f solid;
}
.price-rows .row-filled.yes {
 background:url('../images/plan-yes.png') no-repeat center center;
}
.price-rows .row-filled.no{
 background:url('../images/plan-no.png') no-repeat center center;
}

/**/
.plan-price-footer {
 padding-top:30px;
 padding-bottom:37px;
}
.plan-price {
 font-size:40px;
 font-weight:500;
 line-height:1em;
 margin-bottom: 11px;
}
.plan-price .dolar {
 font-size:25px;
 position:relative;
 top:-13px;
 left:-1px;
}
.plan-price .month {
 font-size:14px;
 color:#ffb900;
 letter-spacing: 1px;
 margin-left:-3px;
 font-weight: normal;
}
.sign-up.large { 
 margin: auto;
 width:142px;
 height:49px;
 line-height:49px;
 text-align:center;
 background:url('../images/signup-small.png') no-repeat top left;
 color:#203444;
 font-size:30px;
 text-transform:uppercase;
  -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 text-decoration: none;
 display: block;
}
.sign-up.large:hover {
 background:url('../images/signup-small-flipped.png') no-repeat top left;
}
/**/
.price-header {
 position:relative;
 z-index:50;
  -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
.active .price-signals,
.active .price-rows,
.active .plan-price-footer {
background:#3b5263;
}

.active .price-header {
 height:39px;
 margin-bottom:-9px;
 position:relative;
 -webkit-border-radius: 5px 5px 0 0;
 -moz-border-radius: 5px 5px 0 0;
 -ms-border-radius: 5px 5px 0 0;
 border-radius: 5px 5px 0 0;
}

.col3.active {
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 -ms-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 position:relative;
 z-index:100;
 top:-9px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 border-radius: 5px;
}
.active .plan-price-footer {
 padding-bottom:59px;
 -webkit-border-radius: 0 0 5px 5px;
 -moz-border-radius: 0 0 5px 5px;
 -ms-border-radius: 0 0 5px 5px;
 border-radius: 0 0 5px 5px;
}
.col4 .price-signals,
.col4 .price-rows,
.col4 .plan-price-footer{
 border-right:1px #32424f solid;
}
.col4 .price-header {
 border-right:1px #fdfdfd solid;
 -webkit-box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
 -moz-box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
 -ms-box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
 box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
}

.col2 .price-header {
 -webkit-border-radius: 5px 0 0 0;
 -moz-border-radius: 5px 0 0 0;
 -ms-border-radius: 5px 0 0 0;
 border-radius: 5px 0 0 0;
}
.col2 .plan-price-footer {
 -webkit-border-radius: 0 0 0 5px;
 -moz-border-radius: 0 0 0 5px;
 -ms-border-radius: 0 0 0 5px;
 border-radius: 0 0 0 5px;
}
.col5 .price-header {
 -webkit-border-radius: 0 5px 0 0;
 -moz-border-radius: 0 5px 0 0;
 -ms-border-radius: 0 5px 0 0;
 border-radius: 0 5px 0 0;
}
.col5 .plan-price-footer {
 -webkit-border-radius: 0 0 5px 0;
 -moz-border-radius: 0 0 5px 0;
 -ms-border-radius: 0 0 5px 0;
 border-radius: 0 0 5px 0;
}

/**/
.row-filled.empty {
 height:79px;
}
.row-features {
 margin-top:204px;
 margin-bottom:52px;
}
.row-features ul {
 height:280px;
}
.price-table .col1 {
 margin-left:18px;
}
.row-network ul {
 height:880px;
}
.comment-row ul li{
 min-height:22px;
}
/**/
.pricing .we-work-with-title {
 text-align: center;
 font-size: 27px;
 color: #3e3e3e;
 margin-bottom: 5px;
}
.pricing .we-work-with {
 padding-bottom: 25px;
}

/**/
.pricing .header-wrapper, 
.pricing .promo-wrapper, 
.pricing .content-wrapper, 
.pricing .pricing-trial {
 width:1040px;
}

/* font size fixes */
.last .how-it-works-description {
 width:180px;
}
.free-trial-description {
 margin-top:22px;
}
.promo-title {
 width:700px;
}
.site-menu {
 width:556px;
 position:relative;
 top:73px;
}
.ranking-factors-title {
 letter-spacing:1px;
 margin-top:12px;
}

/* fonts */
body,
.user-register, .user-login,
.site-menu a,
.promo-title h1,
.start-free-trial-name, 
.start-free-trial-email,
.start-free-trial-submit,
.button.yellow span {
 font-family: 'open_sans';
}
.daily-scheduled,
.how-it-works-title,
.social-network-post-title {
 font-family:'bree_serif';
}
.social-network-post-name,
.trial-version-benifits-header h4 {
 font-family:'museo';
}

body,
.daily-scheduled,
.increase-rankings,
.how-it-works-title {
 font-weight:normal;
}
.button.yellow span,
.user-register, .user-login,
.promo-title h1,
.social-network-post-name,
.social-network-post-name {
 font-weight:500;
}
.site-menu a,
.promo-title h1 span,
.how-it-works-description,
.start-free-trial-label,
.start-free-trial-submit,
.happy-clients-cloud-name,
.drip-signals-item,
.footer-top .menu-link,
.drip-signals-colored h3 {
font-weight:600; 
}
.trial-version-benifits-header h4{
font-weight:700; 
}

/* pricing fonts */
.free-trial-block-header {
 font-weight:600;
 margin-left: 25px;
}
.free-trial-block-header span {
 font-weight:500;
}
p.no-risks, p.full-access {
 font-family:'bree_serif';
 font-weight:normal;
}
.free-register-form .form-text {
 font-family: 'open_sans';
}
.pricing-header {
 font-family:'bree_serif';
 font-weight:normal;
}
.comment-row h3,
.price-header h3,
.price-signals h3,
.price-signals h4,
.price-sign-up,
.sign-up.large,
.button.yellow {
font-family:'bebas';
font-weight:normal;
}

.price-rows .row-filled {
 font-weight:500;
}

/**/
.bigger-plan-header {
 text-align:center;
 margin-top:28px;
 margin-bottom:74px;
 font-family:'museo';
 font-weight:700;
 color:#ec5808;
 text-transform:uppercase;
}
.bigger-plan-header a {
 color:#203444;
 text-decoration:none;
 margin-left:16px;
 padding-left:;
}
.bigger-plan-header a:hover {
 text-decoration:underline;
}

/**/
.grey-separator{
 height:45px;
 background:#ededed;
}

.asked-questions-title {
 text-align:center;
 font-weight:normal;
 font-size:27px;
 margin-top:60px;
 margin-bottom:70px;
 text-transform:uppercase;
 color:#3e3e3e;
 background: url('../images/faq-icon.png') no-repeat 27.7% 0;
 padding-left: 25px;
}
.steps .asked-questions-title {
 background: url('../images/faq-icon.png') no-repeat 26.1% 0;
}
.asked-questions-cols {
 overflow:hidden;
 margin-left:60px;
}
.asked-questions-col {
 float:left;
}
.asked-questions-box {
 min-height:125px;
 margin-bottom:50px;
}
.asked-questions-question {
 font-size:17px;
 font-family:'museo';
 font-weight:700;
 text-transform:uppercase;
 margin-bottom:15px;
 color:#3e3e3e;
}
.asked-questions-answear {
 color:#7a7a7a;
 font-size:14px;
 line-height:23px;
}
.asked-questions-col.col-one {
 width:275px;
 margin-right:55px;
}
.asked-questions-col.col-two {
 width:250px;
 margin-right:40px;
}
.asked-questions-col.col-three {
 width:300px;
}

/**/
.getyourrisk-trial-label {
 float:left;
 font-size:36px;
 font-weight:normal;
}
.getyourrisk-trial-label span {
 font-weight:500;
}
.getyourrisk-trial-label span.orange {
 color:#ff5418;
}
.getyourrisk-trial-button {
	/* new button */
float:left;
line-height:46px;
padding:0 35px;
 font-family:'bebas';
 text-decoration:none;
 font-size:30px;
 margin-left:25px;
 margin-right:30px;
}
.getyourrisk-trial-button:hover {
}
.getyourrisk-trial {
 overflow:hidden;
 margin-top:10px;
 margin-bottom:85px;
 padding-bottom: 2px;
}
.getyourrisk-trial-label.first {
 margin-left:90px;
}

/* Best services page*/
.best-service {
 clear:both;
 text-align:center;
 width:960px;
 margin:0 auto 45px;
 padding-top:50px;
 color:#fff;
 text-transform:uppercase;
}
.best-service h1 {
 font-size:38px;
 line-height:38px;
}
.best-service h1 span {
 color: #ffe400;
}
.best-service h2 {
 font-size:29px;
}
.best-service h1,
.best-service h2 {
 font-weight:600;
  -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
}

/**/
.easy-steps-title {
 font-size:166px;
 color: #dd4128;
 margin-bottom:-12px;
 padding-top:25px;
}
.easy-steps-subtitle {
 font-size:79px;
 color: #f2ca28;
}
.easy-steps-title,
.easy-steps-subtitle {
font-family:'bebas';
font-weight:normal;
text-align:center;
 line-height:1em;
}

/**/
.easy-steps-col {
 float:left;
 width:180px;
}
.easy-steps-number {
color: #dd4128;
font-size:44px;
float:left;
font-family:'bebas';
font-weight:normal;
margin-right:10px;
line-height:120px;
}

/**/
.easy-steps-image {
 display: table-cell;
 height: 120px;
 vertical-align:middle;
}
.easy-steps-col .description{
 margin-top:20px;
 font-size:12px;
 text-align:center;
 width:90%;
}
.easy-steps-cols {
 overflow:hidden;
 margin:70px 0;
}
.easy-steps-col.first,
.easy-steps-col.clear {
 clear: both;
 margin-left:36px;
}
.easy-steps-col {
 margin-left:55px;
}
.easy-steps-col.col-one,
.easy-steps-col.col-two,
.easy-steps-col.col-three,
.easy-steps-col.col-four {
 margin-bottom:20px;
}
.steps .getyourrisk-trial-label.first {
 margin-left:45px;
}

/**/
.steps .asked-questions-col.col-one,
.steps .asked-questions-col.col-two {
 margin-right:34px;
}
.steps .asked-questions-cols {
 margin-left:32px;
}
.easy-steps-col {
 position:relative;
}
.easy-steps-dots {
 border-top: 1px #d89e3e dotted;
 position:absolute;
 top:60px;
 width:80px;
}
.easy-steps-col.col-one .easy-steps-dots { left:110px;}
.easy-steps-col.col-two .easy-steps-dots { left:137px;}
.easy-steps-col.col-three .easy-steps-dots { left:153px; width: 70px;}
.easy-steps-col.col-four .easy-steps-dots { display:none;}
.easy-steps-col.col-five .easy-steps-dots { left:137px;}
.easy-steps-col.col-six .easy-steps-dots { left:130px;}
.easy-steps-col.col-seven .easy-steps-dots { left:125px;}
.easy-steps-col.col-eight .easy-steps-dots { display:none;}

/**/
body.faq .main-wrapper,
body.cases .main-wrapper{
 background-position:center -420px;
}
body.steps .main-wrapper {
 background-position: center -389px;
}
body.contacts .main-wrapper {
 background-position:center -260px;
}
.faq-header {
 clear:both;
 width:960px;
 margin:0 auto 40px;
 overflow:hidden;
 padding-top:60px;
}
.faq-header h1 {
 color:#fff;
 font-size:40px;
 font-weight:600;
 text-transform:uppercase;
  -webkit-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
}
.questions-list {
 overflow:hidden;
}
.questions-list:first-child {
 padding-top: 10px;
}
.questions-list h3 {
 font-size:22px;
 color:#6f6f6f;
 font-weight:400;
 padding:20px 45px;
 border-top:1px #c8c8c8 dashed;
 cursor: pointer;
}
.questions-list:first-child h3 {
 border-top:0;
}
.questions-list h3 span {
 font-weight:600;
 margin-right:15px;
}
.answear {
 position:relative;
}
p.answear-text {
 background:#f8f8f8;
 font-size:15px;
 color:#464646;
 padding:30px 40px 30px 80px;
 margin:0 90px;
}
.answear-icon {
 position:absolute;
 top:50%;
 left:90px;
 margin-top:-48px;
 background:#2394eb url('../images/answear-icon.png') no-repeat center center;
 width:56px;
 height:56px;
}
div.answear {
 display:none;
}
.questions-list.active .answear {
 padding-bottom: 40px;
}

/* contacts */
.contacts-header {
 clear:both;
 width:960px;
 margin:auto;
 padding-top:70px;
 padding-bottom:65px;
 overflow:hidden;
 color:#fff;
}
.contacts-header h1 {
 font-size:62px;
 font-family:'bree_serif';
 font-weight:normal;
 text-transform:uppercase;
}
.phone-number span {
 font-size:52px;
 font-weight:500;
 padding-left:60px;
 padding-right:25px;
 float:left;
}
.contacts-header h1,
.phone-number span {
  -webkit-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
}
.phone-number a {
font-size:30px;
text-transform:uppercase;
font-family:'bebas';
width:auto;
float:left;
height:44px;
line-height:44px;
padding:0 22px;
margin-top:14px;
}

/**/
.contacts-header {
 clear:both;
 width:960px;
 margin:auto;
 padding-top:70px;
 padding-bottom:65px;
 overflow:hidden;
 color:#fff;
}
.contacts-header h1 {
 font-size:62px;
 font-family:'bree_serif';
 font-weight:normal;
 text-transform:uppercase;
}
.phone-number span {
 font-size:52px;
 font-weight:500;
 padding-left:66px;
 padding-right:25px;
 float:left;
}
.contacts-header h1,
.phone-number span {
  -webkit-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
}
.phone-number a {
font-size:30px;
text-transform:uppercase;
font-family:'bebas';
width:auto;
float:left;
height:44px;
line-height:44px;
padding:0 22px;
margin-top:14px;
}
/**/
div.contact-form {
 overflow:hidden;
 padding-top:60px;
 padding-bottom:25px;
}
 .contact-form .col-left {
 margin-left:50px;
 width:495px;
 margin-right:50px;
 float:left;
}
.contact-form .col-right {
 float:right;
 margin-right:50px;
}
.contact-form-require {
 font-size:15px;
 margin-bottom:30px;
}
.map-image {
 width:100%;
 height:328px;
 background:url('../images/map-large.png') no-repeat top left;
 margin-bottom: 50px;
}
.email-gold,
.skype-gold {
 padding-left:;
 font-size:19px;
 color:#525252;
 font-weight:600;
 padding-left:35px;
 margin-bottom:12px;
}
.email-gold {
 background: url('../images/email-gold.png') no-repeat left center;
}
.skype-gold {
 background: url('../images/skype-gold.png') no-repeat left center;
}

/**/
.contact-form .col-right{
 width:310px;
}
input.contact-name,
input.contact-email,
select.contact-subject,
textarea.contact-message,
.contact-grey {
 width:100%;
 min-height:41px;
 line-height:41px;
 border:none;
 padding:0;
 margin:0;
 margin-bottom:22px;
 background:#f3f3f3;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 border-radius: 5px;
 -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
line-height:1em;
padding: 0 19px;
font-family: 'open_sans';
font-size: 12px;
text-transform:uppercase;
color: #525252;
resize: none;
}
input.contact-name:focus,
input.contact-email:focus,
select.contact-subject:focus,
textarea.contact-message:focus {
 outline: none;
 box-shadow: none;
}
textarea.contact-message {
 line-height:1.2em;
 padding: 10px 19px;
 height:115px;
}
select.contact-subject {
 height:20px;
 min-height:20px;
 position:relative;
 top:10px;
 padding:0;
}
.contact-capha {
 margin-bottom:20px;
}
.contact-submit {
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
 width:169px;
 height:37px;
 border:none;
 color: #fff;
 background:#f8ce04;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 border-radius: 5px;
 text-transform:uppercase;
 font-weight:700;
 font-family:'open_sans';
 cursor: pointer;
}
.contact-submit:hover {
	background: #ffb900;
}
/**/
.map-wrapper {
 width:860px;
 margin:60px auto 85px;
}
.contact-details {
 overflow:hidden;
 margin: 0 50px;
 padding-bottom:35px;
}
.contact-details-left {
 float:left;
}
.contact-details-right {
 float:right;
 margin-right: 15px;
}
.contact-details-right a {
display:block;
background:url('../images/free-trial-button.png') no-repeat top left;
overflow:hidden;
width:359px;
height:86px;
line-height:1000px;
}
.contact-details-right a:hover {
 background-image: url('../images/free-trial-button-flipped.png');
}
.contact-details-left p{
 color:#525252;
 font-size:16px;
 font-weight:600;
 line-height:20px;
 padding-left:35px;
 margin-bottom:10px;
}
p.contact-details-phone {
 background: url('../images/details-phone.png') no-repeat left center;
}
p.contact-details-email{
 background: url('../images/details-email.png') no-repeat left center;
}
p.contact-details-skype {
 background: url('../images/details-skype.png') no-repeat left center;
}
.phone-number span {
 background:url('../images/yellow-phone.png') no-repeat 10px 21px;
}
.footer-social a.facebook-white {
 background: #fff url('../images/facebook-footer.png') no-repeat center center;
}
.footer-social a.twitter-white {
 background: #fff url('../images/twitter-footer.png') no-repeat center center;
}
.footer-social.fl-right a:hover {
 background-color: #f0f0f0;
}

/* forms */
.error {
 background:#df534e !important;
}
.error::-webkit-input-placeholder { /* WebKit browsers */
 color: #fff;
}
.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #fff;
}
.error::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #fff;
}
.error:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #fff;
}
.popup ::-webkit-input-placeholder { /* WebKit browsers */
 color: #525252;
}
.popup :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #525252;
}
.popup ::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #525252;
}
.popup :-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #525252;
}

.grey-bg {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: #fff;
 z-index: 150;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  display: none;
}
.popup {
 width: 420px;
 background: #fff;
 padding: 47px 38px 40px 53px;
 -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
 -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
 box-shadow: 0 0 5px rgba(0,0,0,0.15);
 position: absolute;
 top: 144px;
 left: 50%;
 margin-left: -200px;
 z-index: 250;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: none;
}
.active-popup {
 display: block;
}
.popup-inner {
 padding: 10px;
}

.popup h3 {
 font-family:'bebas';
 font-weight:normal;
 font-size:44px;
 color:#2697ec;
 line-height:1em;
 margin-bottom:31px;
}
.popup .description {
 font-size:12px;
 line-height:1.4em;
 color:#878787;
 margin-bottom:30px;
}
.popup .form-text,
.popup-select {
 display:block;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width:100%;
padding:0 18px;
height: 42px;
line-height:1em;
border:none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
background:#f3f3f3;
margin-bottom: 9px;
font-family:'open_sans';
font-size:12px;
color:#525252;
}
.plan-select {
 width:100%;
 padding:0;
 border:none;
 background:#f3f3f3;
 position:relative;
 top:8px;
 font-family:'open_sans';
 font-size:12px;
 color:#525252;
}
.popup .remeber-me {
position:relative;
top:7px;
}
.popup .remeber-me label span {
 font-size:12px;
 color:#878787;
 position:relative;
 top:-2px;
 margin-left:10px;
}
.login-submit,
.form-reset {
 background:#f8ce04;
 height:36px;
 border:none;
 padding:0 40px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 border-radius: 5px;
 text-transform:uppercase;
 color:#fff;
 font-family:'open_sans';
 font-size:16px;
 font-weight:700;
 cursor: pointer;
}
.form-reset {
 background: #c3c3c3;
 line-height: 36px;
 width: 61px;
 text-align: center;
}
.form-reset:hover {
	background: #b3b3b3;
}
.login-submit:hover {
	background: #ffb900;
}

.popup .login-password {
 margin-bottom:35px;
}
.register-popup .form-text {
 margin-bottom: 10px;
}
.register-popup .login-verification {
padding-left: 164px;
}
.veirification-code-image {
 background: url('../images/verification-code.png') no-repeat top left;
 width: 151px;
 height: 39px;
 -webkit-border-radius: 2px 0 0 2px;
 -moz-border-radius: 2px 0 0 2px;
 border-radius: 2px 0 0 2px;
 margin-top: -51px;
 margin-left: 1px;
}
.form-actions {
 overflow: hidden;
 padding-top: 25px;
}
.popup .close {
 width: 24px;
 height: 24px;
 background: url('../images/popup-close.png') no-repeat top left;
 position: absolute;
 top: -10px;
 right: -10px;
 cursor: pointer;
}
.give-me-trial {
 width: 307px;
 height: 41px;
 margin-bottom: 15px;
 background: #2697ec url('../images/white-approve.png') no-repeat 13px 50%;
 line-height: 41px;
 font-family: 'open_sans';
 font-weight: 600;
 color: #fff;
 font-size: 12px;
 padding-left: 52px;
   -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-transform: uppercase;
}

/* front page fixes */
.more-social-icons.col {
 margin-left: 14px;
}
.more-social-icons.col:first-child+div,
.more-social-icons.col:nth-child(2) {
 margin-right:16px;
}

.large-twitter,
.large-facebook,
.large-youtube,
.large-google,
.large-tumblr {
 position: absolute;
}
.large-twitter {
width: 140px;
height: 140px;
background: url('../images/icon-large-twitter.png') no-repeat top left;
top: 133px;
left: 167px;
}
.large-facebook {
width: 160px;
height: 160px;
background: url('../images/icon-large-facebook.png') no-repeat top left;
top: 57px;
left: 22px;
}
.large-youtube {
width: 160px;
height: 168px;
background: url('../images/icon-large-youtube.png') no-repeat top left;
top: -4px;
left: 187px;
}
.large-google {
width: 160px;
height: 160px;
background: url('../images/icon-large-google.png') no-repeat top left;
top: 115px;
left: 283px;
}
.large-tumblr {
width: 180px;
height: 180px;
background: url('../images/icon-large-tumblr.png') no-repeat top left;
top: 161px;
left: 16px;
}
.large-twitter:hover {
top: 136px;
left: 170px;
}
.large-facebook:hover {
top: 56px;
left: 19px;
}
.large-youtube:hover {
top: -5px;
left: 185px;
}
.large-google:hover {
top: 112px;
left: 286px;
}
.large-tumblr:hover {
 top: 158px;
left: 18px;
}

/* slider */
.slider-image {
 background: #fff url('../images/star-image.png') no-repeat 88px 0;
 width: 51px;
 height: 48px;
 float: left;
 padding-right: 34px;
 padding-left: 88px;
 position: relative;
 z-index: 150;
}

.bottom-slider {
 overflow:hidden;
 width:960px;
}
.bottom-slide {
 width:787px;
 float:left;
}
.slider-wrapper {
 width: 2800px;
 padding:32px 0;
 overflow:hidden;
}
.slider-quote {
 font-size:19px;
 font-weight:500;
 font-family:'museo';
 color:#cfcfcf;
 padding-right:;
}
.slider-quote-author {
 display:block;
  font-size:19px;
  font-weight:500;
 font-family:'museo';
 color:#ff5418;
 margin-top:4px;
}
.bottom-slider-link {
 display:block;
 text-decoration:none;
 padding-bottom:30px;
 padding-left:147px;
 font-size:16px;
 color:#615e5e;
 font-family:'courier';
 letter-spacing: 1px;
}
.bottom-slider-link:hover {
 color: #000;
}

.pricing .slider-wrapper {
 width:3120px;
}
.pricing .bottom-slider {
	width: 1040px;
}
.pricing .bottom-slide{
 width:868px;
}

/* pricing social icons */
.social-facebook-small,
.social-twitter-small,
.social-tumblr-small {
	position: absolute;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-facebook-small {
	width: 131px;
	height: 135px;
	background-image: url('../images/facebook-social-small.png');
	top: 0;
	left: 84px;
}
.social-twitter-small {
	width: 95px;
	height: 98px;
	background-image: url('../images/twitter-social-small.png');
	top: 17px;
 left: 213px;
}
.social-tumblr-small {
	width: 148px;
	height: 152px;
	background-image: url('../images/tumblr-social-small.png');
	top: 87px;
	left: 0;
}
.social-facebook-small:hover {
	top: -3px;
	left: 81px;
}
.social-twitter-small:hover {
	top: 15px;
 left: 215px;
}
.social-tumblr-small:hover {
	top: 84px;
	left: 2px;
}

/* new button */
.getyourrisk-trial-button,
.price-sign-up,
.phone-number a {
background-image: linear-gradient(bottom, rgb(253,213,10) 0%, rgb(255,184,0) 100%);
background-image: -o-linear-gradient(bottom, rgb(253,213,10) 0%, rgb(255,184,0) 100%);
background-image: -moz-linear-gradient(bottom, rgb(253,213,10) 0%, rgb(255,184,0) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(253,213,10) 0%, rgb(255,184,0) 100%);
background-image: -ms-linear-gradient(bottom, rgb(253,213,10) 0%, rgb(255,184,0) 100%);
background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, rgb(253,213,10)),
 color-stop(1, rgb(255,184,0))
);
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 color:#916f15;
 text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}
/* new button hover */

.getyourrisk-trial-button:hover,
.price-sign-up:hover,
.phone-number a:hover {
 background-image: linear-gradient(bottom, rgb(255,184,0) 0%, rgb(253,213,10) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,184,0) 0%, rgb(253,213,10) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,184,0) 0%, rgb(253,213,10) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,184,0) 0%, rgb(253,213,10) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,184,0) 0%, rgb(253,213,10) 100%);
background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, rgb(255,184,0)),
 color-stop(1, rgb(253,213,10))
);
color: #403926;
}

/* Cases page */
.cases-header {
 padding: 43px 40px 30px;
 background:#e7f2fd;
 font-size:13px;
 color:#666;
 margin-bottom:50px;
}
.cases-header h3 {
 font-weight:600;
 font-size:24px;
 color:#464646;
 margin-bottom:15px;
}
.cases-header p {
 line-height:20px;
}
.cases-wrapper {
 clear:both;
 overflow:hidden;
}
.cases-item {
background:#f8f8f8;
margin:0 30px 20px;
border-bottom:2px #e7e7e7 solid;
}
.profile-image {
width:222px;
padding-top:25px;
text-align:center;
float:left;
}
img.cases-image {
 width:111px;
 height:111px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 border-radius: 100px;
 border:10px #fff solid;
 -webkit-box-shadow: -1px -1px 3px rgba(0,0,0,0.12);
 -moz-box-shadow: -1px -1px 3px rgba(0,0,0,0.12);
 -ms-box-shadow: -1px -1px 3px rgba(0,0,0,0.12);
 box-shadow: -1px -1px 3px rgba(0,0,0,0.12);
 margin-bottom:27px;
}
.profile-quote {
 float:left;
 width:406px;
}
.profile-quote h3 {
 font-size:20px;
 color:#464646;
 font-weight:600;
 margin-bottom:30px;
 padding-top:35px;
}
.profile-quote p.quote {
padding-right:49px;
font-size:13px;
line-height:20px;
color:#272626;
font-style:italic;
margin-bottom:24px;
}
.profile-quote p.description {
 font-size:13px;
 padding-right:49px;
 color:#666;
 line-height:20px;
}
.cases-quote {
 float:left;
}
.cases-positive {
 float:left;
 width:272px;
}
.cases-plan {
margin-bottom: 4px;
}
.cases-plan span{
 color:#464646;
 font-size:14px;
 font-weight:600;
}
.cases-plan span.orange {
 color:#e94106;
}
.cases-profile-link {
 font-size:12px;
 text-decoration:none;
 color:#105799;
 font-weight:600;
}
.cases-profile-link:hover{
 text-decoration:underline;
}
.cases-positive {
background:#f1f1f1;
min-height:272px;
}
.cases-positive-item {
	background: url('../images/cases-benefits-bg.png') repeat-y top left;
 min-height:135px;
 border-bottom:1px #e5e5e5 solid;
 border-top:1px #f8f8f8 solid;
 font-size:13px;
 color:#464646;
 line-height:20px;
}
.cases-positive-item p {
 padding:33px 20px 0 63px;
 background: url('../images/cases-benefits-icon.png') no-repeat 29px 38px;
}
.cases-expand {
}
.cases-more {
 display:block;
 clear:both;
 border-top:1px #ebebeb solid;
 position:relative;
 top:-1px;
 height:39px;
 line-height:39px;
 text-align:center;
 color:#1d8eea;
 text-transform:uppercase;
 font-size:11px;
 background:#fcfcfc;
 -webkit-box-shadow: inset 0 1px rgba(255,255,255,1);
 -moz-box-shadow: inset 0 1px rgba(255,255,255,1);
 -ms-box-shadow: inset 0 1px rgba(255,255,255,1);
 box-shadow: inset 0 1px rgba(255,255,255,1);
}
.cases-hidden {
 //display:none; 
 border-top:1px #d6d6d6 dashed;
 padding:35px 40px 0;
}
.cases-qa {
 margin-bottom:22px;
}
.cases-qa > span{
 font-size:14px;
 color:#464646;
 font-weight:500;
 display:block;
 margin-bottom:5px;
}
.cases-qa p.description {
 font-size:13px;
 color:#666;
 line-height:20px;
}
.cases-promo {
 border:5px #fff solid;
 -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
 -moz-box-shadow: 5px #fff solid;
 -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
 -ms-box-shadow: 5px #fff solid;
 -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
 box-shadow: 5px #fff solid;
 -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
 margin-bottom:40px;
 overflow: hidden;
}
.cases-promo-left {
 padding:28px 0 27px 33px;
 float:left;
}
 .large-text {
 font-size:27px;
 color:#646464;
 line-height:1em;
}
.large-text .bold {
 color:#262626;
 font-weight:700;
}
.large-text .orange {
 color:#ff5418;
}
.cases-promo-left p.description {
 color:#aeaeae;
 font-size:15px;
 margin-top:4px;
}
.cases-promo-right {
 float:right;
 padding:28px 33px 0 0;
}
.cases-promo-right .price-sign-up {
 line-height:46px;
 height:46px;
 padding:0 35px;
}