.fl-left {
 float:left;
}
.fl-right {
 float:right;
}
.cl-both {
 clear:both;
}
body {
 background: #ededed;
 margin:0;
 padding:0;
}
.main-wrapper {
background:url('../images/header-bg.jpg') no-repeat top center;  
}
.header-wrapper,
.promo-wrapper,
.content-wrapper {
 width:960px;
 margin:auto;
}

.content-wrapper {
 background:#fff;
 clear:both;
}
.dashed-separator {
 height:1px;
 border-top:1px #c8c8c8 dashed;
}
.solid-grey-block {
 background:#ededed;
 color: #262626;
}
.solid-blue-block {
 background:#4ba8ff;
 padding:40px 0 17px;
}
.grey-block-separator {
 background:#f9f9f9;
 border-top: 1px #eee dashed;
 border-bottom: 1px #eee dashed;
 clear: both;
 overflow: hidden;
}

/* styles */

.user-register,
.user-login {
 background:#fdd309;
 text-align:center;
 text-transform:uppercase;
 height:40px;
 line-height:40px;
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 margin-left:6px;
 text-decoration:none;
 color:#fff;
 font-weight:bold;
 font-size:16px;
}
.user-login {
 color:#1d8eea;
 background:#fff;
}

.logo  {
 width:384px;
 height:93px;
 overflow:hidden;
 text-indent:1000px;
 line-height:300px;
 background:url('../images/logo.png') no-repeat top left;
 margin-left:-16px;
}
.site-menu, .site-menu li {
 margin:0;
 padding:0;
 list-style: none;
}
.site-menu li {
 float:left;
}
.site-menu a {
 float:left;
 text-decoration:none;
 text-transform:uppercase;
 color:#fff;
 font-size:14px;
 margin-left:42px;
}

.site-menu li:first-child a{
 margin-left:0;
}

.promo-title {
 text-align:center; 
 margin:auto;
 padding:65px 0 57px;
}
.promo-title h1 {
 font-size:52px;
 font-weight:bold;
 text-transform:uppercase;
 color:#fff;
 -webkit-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 margin:0;
}
.promo-title h1 span {
 display:block;
 color:#fffe0c;
 font-weight:normal;
}

/* front */
.free-trial {
 margin-top:41px;
}

.button {
 display:inline-block; 
 text-decoration:none;
}
.button.yellow {
 background:url('../images/button-yellow-bg.jpg') no-repeat top left;
  -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 box-shadow: 0 5px 0 rgba(0,0,0,0.15);
 color:#574850;
 font-size:44px;
 line-height:1em;
 padding-top:31px;
 text-align:center;
}
.button.yellow  span {
 display:block;
 font-size:16px;
 margin-top:10px;
 line-height: 1em;
}
.free-trial-description {
 color:#fff;
 line-height:25px;
 font-size:16px;
}
.social-icons-large {
 background:url('../images/socialicons-large.png') no-repeat top right;
 height:344px;
 margin-bottom:-70px;
}

.front .content-wrapper {
 padding-top: 70px;
}
.daily-scheduled,
.increase-rankings {
 text-align:center;
}

/**/
h1,h2,h3,h4,h5,h6 {
 margin:0;
 padding:0;
}
p {
 margin:0;
}
.daily-scheduled {
 font-size:30px;
 line-height:1em;
 text-transform: uppercase;
}
.increase-rankings {
 margin-top:8px;
 font-size:28px;
 text-transform: uppercase;
}
.google-name {color: #048bff;}
.google-name .red {color: #ff0000;}
.google-name .yellow {color: #fcd228;}
.google-name .green {color: #08b210;}

.ranking-factors {
 overflow:hidden;
 width:992px;
 margin-top:70px;
 margin-bottom:85px;
 text-align:center;
}
.ranking-factors .col {
 width: 329px;
}
.ranking-factors .col1,
.ranking-factors .col2 {
 border-right:1px #d1d1d1 solid;
}
.ranking-factors-title {
font-size:26px;
color:#464646;
font-weight:normal;
margin-bottom:4px;
}
.ranking-factors-decription {
font-size:14px;
color:#464646;
}
/**/
.ranking-solution {
 padding:55px 0 40px;
}
.ranking-solution-title {
 text-align:center;
 font-size:27px;
 color:#464646;
 line-height:1.1em;
 font-weight:normal;
 margin-bottom:50px;
 text-transform: uppercase;
}
.ranking-solution-title .ranking-solution-title-bold {
 font-weight:bold;
 color:#e94106;
}
.ranking-solution-description {
 text-align:center;
 font-size:15px;
 line-height:24px;
 color:#464646;
}

/**/

.how-it-works {
 padding:50px 0 70px;
 text-align:center;
}
.how-it-works-title {
 font-weight:bold;
 font-size:37px;
 color:#1788e9;
 margin-bottom:80px;
 text-transform: uppercase;
}
.how-it-works-columns {
 height:135px;
}
.how-it-works-separator {
 float:left;
 width:18px;
 margin:0 15px;
 height:150px;
 background:url('../images/howitworks-arrow.png') no-repeat center center;
}
.how-it-works-column {
 position:relative;
 padding-bottom:25px;
}
.how-it-works-column:first-child {
 margin-left:76px;
}
.how-it-works-image {
 display:block;
 margin:auto;
 text-align:center;
  position:relative;
 z-index:30
}
.last .how-it-works-image {
 margin-top:-37px;
}
.how-it-works-description {
 font-size:14px;
 color:#464646;
 line-height:24px;
 margin-top:15px;
 position:relative;
 z-index:30;
}
.how-it-works-number {
 z-index:20;
 font-size:153px;
 position:absolute;
 color:#f7f7f7;
 bottom:43px;
 left:50%;
 margin-left:-44px;
 width:85px;
 height:105px;
 font-weight:bold;
}

/**/
.social-network-post-icons {
 overflow:hidden;
 padding: 70px 0 56px;
}
 .social-network-post-name {
 font-size:12px;
 color:#7e7e7e;
 text-transform:uppercase;
 display:block;
 position:absolute;
 width:100%;
 bottom:0;
 left:0;
}
.social-network-post-icon {
 position:relative;
 height:80px;
 text-align:center;
 margin-left:63px;
}
.social-network-post-icon.first {
 margin-left:30px;
}
.social-network-post-title {
 font-size:37px;
 color:#6f6f6f;
 text-align:center;
 font-weight:normal;
 margin-top:63px;
 text-transform:uppercase;
}
.social-network-post-title span {
 display:block;
 color:#ec5808;
}

/**/
.more-social-icons {
 overflow:hidden;
 text-align:center;
}
.more-social-icons img {
 margin:auto;
 margin-right:0; 
}
.more-social-icons.col.first {
 margin-left:40px;
}
.more-social-icons.col {
 margin-left:16px;
 width:auto;
 height:73px;
}
.more-social-icons.cl-both {
 padding:25px 0 35px;
}

/**/
.trial-version-benifits-title {
 font-size:31px;
 font-weight:normal;
 text-align:center;
 padding:52px 0 60px;
}
.trial-version-benifits-title .red {
 font-weight:bold;
 color: #ec5808;
}
.trial-version-benifits-list {
 clear:both;
 overflow:hidden;
}
.trial-version-benifits-item {
 height:140px;
 background:#fff;
 margin-left:30px;
 margin-bottom:35px;
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
.trial-version-benifits-item.new-row,
 .trial-version-benifits-item.first {
 margin-left:0;
}
.trial-version-benifits-header {
 width:260px;
 margin:auto;
 overflow:hidden;
 margin-top:22px;
 height:32px;
 line-height:32px;
 margin-bottom:16px;
 color:#ec5808;
 text-transform:uppercase;
 font-size: 20px;
}
.trial-version-benifits-description {
 line-height:24px;
 font-size:15px;
 color:#464646;
}

/**/
.start-free-trial-label {
 color:#fff;
 font-size:21px;
 margin-right:25px;
}
.start-free-trial-name,
.start-free-trial-email {
 border:none;
 line-height:1em;
 height:37px;
 padding: 0 18px;
 margin:0 13px 0 0;
 width: 132px
}
.start-free-trial-submit {
 border:2px #fff solid;
 background: transparent;
 height:35px;
 color: #fff;
 font-size:16px;
 font-weight:500;
}
.start-free-trial-description {
 font-size:16px;
 color:#fff;
 margin-top:33px;
 clear:both;
}

.happy-clients-title {
 margin:22px auto 50px;
 font-weight:normal;
 text-align:center;
 width:450px;
 font-size:27px;
 color:#464646;
 text-transform:uppercase;
}
.happy-clients-title .red {
 color: #e94106;
 font-weight:bold;
}
.happy-clients-comments {
 overflow:hidden;
}
.happy-clients-comment {
 margin-right:70px;
 float:left;
}
.happy-clients-comment:first-child {
 margin-left:105px;
}
.happy-clients-cloud {
 background:#f9f9f9;
 color:#464646;
 padding:35px 0;
 margin-bottom:54px;
 height:204px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 border-radius: 5px;
 margin-top:2px;
 -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
 -ms-box-shadow: 0 0 3px rgba(0,0,0,0.2);
 box-shadow: 0 0 3px rgba(0,0,0,0.2);
 position:relative;
}
.happy-clients-cloud:after {
 position:absolute;
 content:'';
 display: block;
 bottom:-40px;
 left:50%;
 margin-left:-25px;
 width:0;
 height:0;
 border-color: #f9f9f9 transparent transparent transparent;
 border-style: solid;
 border-width: 20px 25px;
}
.happy-clients-cloud h4{
 font-size:16px;
 line-height:24px;
 font-weight:500;
 margin-bottom:30px;
}
.happy-clients-cloud-text {
 font-size:13px;
 line-height:20px;
 margin-bottom:35px;
 } 
.happy-clients-cloud-name {
 display:block;
 margin-left:35px;
 font-size:16px;
 text-transform:uppercase;
 color:#e94106;
}
.happy-clients-image {
 border: 10px #efefef solid;
 height:155px;
 text-align:center;
 margin-bottom:40px;
}
.happy-clients-image img,
.happy-clients-image {
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 border-radius: 100%; 
}

/**/
.we-work-with-title {
 font-size:20px;
 text-transform:uppercase;
 color:#fff;
 width:240px;
 margin-bottom:30px;
}
.we-work-with-cols {
 overflow:hidden;
}
.we-work-with-col {
 margin-left:22px;
}
.we-work-with-col.first {
 margin-left:25px;
}

/**/
.drip-signals {
 overflow:hidden;
 padding-top:64px;
}

.drip-signals-colored {
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 color:#fff;
 text-transform:uppercase;
 font-size:18px;
 line-height:75px;
 height:75px;
 overflow: hidden;
}
.drip-manual-signals {
 margin-left:50px;
 margin-right:9px;
}
.drip-manual-signals .drip-signals-colored {
 background:#ec5808;
}
.drip-automatic-signals .drip-signals-colored {
 background:#b2daff;
}
.drip-signals-colored img {
 float:left;
 margin-left:20px;
 margin-right:20px;
 width:35px;
 height:35px;
 position:relative;
 top:20px;
}
.drip-signals-list,
.drip-signals-list li {
 margin:0;
 padding:0;
 list-style: none;
 list-style-type: none;
}
.drip-signals-list {
background:#fafafa;
padding-bottom:25px;
margin-bottom:50px;
overflow:hidden;
margin-top:5px;
}

.drip-signals-list li {
 margin-top:29px;
 height:26px;
 line-height:26px;
 padding-left:80px;
 font-size:20px;
}
.drip-signals-item .green {
 color: #5ec128;
}
.drip-signals-item .orange {
 color: #ec5808;
}

.drip-manual-signals .drip-signals-item {
 background: url('../images/orange-circle.png') no-repeat 31px 0;
}
.drip-manual-signals .drip-signals-item.grey {
 background-image: url('../images/grey-circle.png');
}

.drip-automatic-signals .drip-signals-item {
 background: url('../images/blue-circle.png') no-repeat 31px 0;
}
.drip-automatic-signals .drip-signals-item.grey {
 background-image: url('../images/grey-circle.png'); 
}

/* footer */
.footer {
 margin-top: 50px;
}
.footer-top {
 background:#1e87e8;
 height:55px;
}
.footer-bottom {
 background:#166ee1;
 height:109px;
}
.footer-top .inner,
.footer-bottom .inner {
 margin:auto;
 width:960px;
}
.footer-top .inner {
 padding-top:20px;
}

.footer-top .menu,
.footer-top .menu-item {
 margin:0;
 padding:0;
 list-style: none;
}

.footer-top .menu-link {
 color:#fff;
 text-decoration:none;
 float:left;
 text-transform:uppercase;
 font-size:14px;
margin-left:92px;
}

.footer-top .first .menu-link {
 margin-left:10px;
}

.footer-bottom .inner{
 color:#fff;
 padding-top:18px;
}
.footer-logo {
 margin-bottom:15px;
}
p.copyright {
 font-size:12px;
 line-height:1em;
}

.footer-social a {
 float:right;
 width:40px;
 height:40px;
 background:#fff;
 margin-left: 9px;
}
.footer-social p {
 clear:both;
 float:right;
 margin-top:13px;
 font-size:12px;
}

/* pricing */
.pricing-trial {
 clear:both;
 width:960px;
 margin:auto;
 padding-top:90px;
}
.free-trial-block-header {
 color:#fff;
 font-size:40px;
 text-transform:uppercase;
  -webkit-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -moz-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 -ms-text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 text-shadow: 0 5px 0 rgba(0,0,0,0.15);
 margin-bottom:27px;
}
.free-trial-block-header .yellow {
 display:block;
 color:#fdd309;
}
p.no-risks,
p.full-access {
 color:#fff;
 font-size:20px;
 line-height:1em;
 line-height:30px;
 text-transform:uppercase;
 margin-bottom:15px;
 padding-left:47px;
}

/**/
.free-register-form {
 background:#203444;
 float:right;
 width:360px;
 padding:28px 40px;
 margin-bottom:-31px;
 position:relative;
 right: 25px;
 z-index:50;
}
.free-register-form .form-label {
 font-size:14px;
 color:#fff;
 text-transform:uppercase;
 display:block;
 margin-bottom:9px;
}
.free-register-form .form-text {
 padding:0 13px;
 line-height:1em;
 height:40px;
 border:none;
 margin:0;
 width:333px;
 margin-bottom:20px;
}
.free-register-form .button {
 height:86px;
 border:none;
 width:100%;
 margin-top:9px;
 overflow: hidden;
 text-indent: 1000px;
 background: url('../images/free-trial-button.png') no-repeat top left;
 cursor: pointer;
}
.free-trial-block {
	position: relative;
}

.social-arrow-left {
	background: url('../images/social-pricing.png') no-repeat top left;
	width: 310px;
	height: 240px;
	position: absolute;
	top: 235px;
	left: -85px;
}

/* price table */
body.pricing .content-wrapper {
 padding-top:76px;
}
.pricing-header {
 text-align:center;
 text-transform:uppercase;
 font-size:30px;
 color:#6f6f6f;
 margin-bottom:2px;
}
.pricing-header span {
 color: #ff7e00;
}
.pricing-subheader {
 font-size:27px;
 text-align:center;
 color:#6f6f6f;
 font-weight:normal;
 margin-bottom:45px ;
}

.comment-row h3 {
color: #574850;
font-size:22px;
margin-bottom:4px;
}
.comment-row ul {
 width:161px;
 background:#839eb2;
 -webkit-border-radius: 5px 0 0 5px;
 -moz-border-radius: 5px 0 0 5px;
 -ms-border-radius: 5px 0 0 5px;
 border-radius: 5px 0 0 5px;
 color:#fff;
 margin:0;
 padding:0;
 overflow:hidden;
}

.comment-row ul li {
 list-style: none;
 list-style-type: none;
 font-size: 11px;
 line-height:1em;
 text-align:right;
 padding-right:38px;
 padding-left:8px;
 padding:10px 38px 8px 10px;
 margin:0;
 min-height:17px;
 background: url('../images/info-icon.png') no-repeat 92% center;
 }
 
/**/
.price-table {
 padding-bottom:90px;
}
.price-table .col1,
 .price-table .col2,
 .price-table .col3,
 .price-table .col4,
 .price-table .col5 {
 float:left;
 text-align:center;
}
.price-table .col1 {
 text-align:left;
}
/**/
.price-header {
width:190px;
text-align:center;
height:21px;
overflow:hidden;
padding-top:26px;
padding-bottom:23px;
background-image: linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -o-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -moz-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -webkit-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -ms-linear-gradient(bottom, rgb(239,239,239) 100%, rgb(212,214,215) 0%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, rgb(239,239,239)),
	color-stop(0, rgb(212,214,215))
);
}
.price-header h3 {
 text-transform:uppercase;
 color:#574850;
 font-size:30px;
 text-shadow: 0 2px 0 rgba(255,255,255,0.5)
}
.price-signals,
.price-rows,
.plan-price-footer {
 background:#203444;
 color: #fff;
}

.price-signals {
 padding-top:25px;
 padding-bottom:18px;
}
.price-signals  h3 {
 font-size:50px;
 line-height:1em;
 margin-bottom:3px;
}
.price-signals h4 {
 font-size:17px;
 line-height:1em;
 color: #ffb900;
 text-transform:uppercase;
 margin-bottom:13px;
}
.price-sign-up {
display:block;
margin:auto;
width:94px;
height:35px;
line-height:35px;
text-align:center;
color:#574850;
font-size:23px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
border-radius: radius;
background-image: linear-gradient(bottom, rgb(253,212,10) 100%, rgb(255,187,0) 0%);
background-image: -o-linear-gradient(bottom, rgb(253,212,10) 100%, rgb(255,187,0) 0%);
background-image: -moz-linear-gradient(bottom, rgb(253,212,10) 100%, rgb(255,187,0) 0%);
background-image: -webkit-linear-gradient(bottom, rgb(253,212,10) 100%, rgb(255,187,0) 0%);
background-image: -ms-linear-gradient(bottom, rgb(253,212,10) 100%, rgb(255,187,0) 0%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, rgb(253,212,10)),
	color-stop(0, rgb(255,187,0))
);
text-decoration:none;
text-transform:uppercase;
 -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
.price-rows .row-filled {
 line-height:39px;
 height:39px;
 border-bottom:1px #32424f solid;
}
.price-rows .row-filled:first-child {
	border-top: 1px #32424f solid;
}
.price-rows .row-filled.yes {
 background:url('../images/plan-yes.png') no-repeat center center;
}
.price-rows .row-filled.no{
 background:url('../images/plan-no.png') no-repeat center center;
}

/**/
.plan-price-footer {
 padding-top:30px;
 padding-bottom:37px;
}
.plan-price {
 font-size:40px;
 font-weight:bold;
 line-height:1em;
 margin-bottom: 11px;
}
.plan-price .dolar {
 font-size:25px;
 position:relative;
 top:-13px;
 left:-1px;
}
.plan-price .month {
 font-size:14px;
 color:#ffb900;
 letter-spacing: 1px;
 margin-left:-3px;
}
.sign-up.large {	
 margin: auto;
 width:142px;
 height:49px;
 line-height:49px;
 text-align:center;
 background:url('../images/signup-small.png') no-repeat top left;
 color:#203444;
 font-size:30px;
 text-transform:uppercase;
  -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 text-decoration: none;
 display: block;
}

/**/
.price-header {
 position:relative;
 z-index:50;
  -webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 -ms-box-shadow: 0 5px 0 rgba(0,0,0,0.1);
 box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
.active .price-signals,
.active .price-rows,
.active .plan-price-footer {
background:#3b5263;
}

.active .price-header {
 height:39px;
 margin-bottom:-9px;
 position:relative;
 -webkit-border-radius: 5px 5px 0 0;
 -moz-border-radius: 5px 5px 0 0;
 -ms-border-radius: 5px 5px 0 0;
 border-radius: 5px 5px 0 0;
}

.col3.active {
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 -ms-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
 position:relative;
 z-index:100;
 top:-9px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 border-radius: 5px;
}
.active .plan-price-footer {
 padding-bottom:59px;
 -webkit-border-radius: 0 0 5px 5px;
 -moz-border-radius: 0 0 5px 5px;
 -ms-border-radius: 0 0 5px 5px;
 border-radius: 0 0 5px 5px;
}
.col4 .price-signals,
.col4 .price-rows,
.col4 .plan-price-footer{
 border-right:1px #32424f solid;
}
.col4 .price-header {
 border-right:1px #fdfdfd solid;
 -webkit-box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
 -moz-box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
 -ms-box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
 box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
}

.col2 .price-header {
 -webkit-border-radius: 5px 0 0 0;
 -moz-border-radius: 5px 0 0 0;
 -ms-border-radius: 5px 0 0 0;
 border-radius: 5px 0 0 0;
}
.col2 .plan-price-footer {
 -webkit-border-radius: 0 0 0 5px;
 -moz-border-radius: 0 0 0 5px;
 -ms-border-radius: 0 0 0 5px;
 border-radius: 0 0 0 5px;
}
.col5 .price-header {
 -webkit-border-radius: 0 5px 0 0;
 -moz-border-radius: 0 5px 0 0;
 -ms-border-radius: 0 5px 0 0;
 border-radius: 0 5px 0 0;
}
.col5 .plan-price-footer {
 -webkit-border-radius: 0 0 5px 0;
 -moz-border-radius: 0 0 5px 0;
 -ms-border-radius: 0 0 5px 0;
 border-radius: 0 0 5px 0;
}

/**/
.row-filled.empty {
 height:79px;
}

.row-features {
 margin-top:202px;
 margin-bottom:49px;
}
.row-features ul {
 height:280px;
}

.price-table .col1 {
 margin-left:18px;
}
.row-network ul {
 height:880px;
}

.comment-row ul li{
 min-height:22px;
}
/**/
.pricing .we-work-with-title {
	font-size: 27px;
	color: #3e3e3e;
	margin-bottom: 5px;
}
.pricing .we-work-with {
	padding-bottom: 25px;
}